@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes drive {
    0% {
        transform: translateX(-20px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.animate-drive {
    animation: drive 0.6s ease-out forwards;
}

.delay-150 {
    animation-delay: 0.15s;
}

.delay-300 {
    animation-delay: 0.3s;
}